[submodule "games/trulyamazed"]
	path = games/trulyamazed
	url = https://github.com/glolol/trulyamazed
[submodule "utils/FileInsight"]
	path = utils/FileInsight
	url = https://github.com/GLolol/FileInsight
[submodule "utils/utopia-scripts"]
	path = utils/utopia-scripts
	url = https://github.com/utopia-repository/utopia-scripts
