# Auto detect text files and perform LF normalization
* text=auto

# Force .bat and .reg files to use CRLF endings; otherwise Windows will break on them!
*.bat text eol=crlf
*.reg text eol=crlf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
