[submodule "games/trulyamazed"]
	path = games/trulyamazed
	url = https://github.com/glolol/trulyamazed
[submodule "utils/FileInsight"]
	path = utils/FileInsight
	url = https://github.com/GLolol/FileInsight
[submodule "utils/packagelists/genchanges"]
	path = utils/packagelists/genchanges
	url = https://gist.github.com/GLolol/40388c1ed08bc04c12d7b7be50215dd4
